# Configuración de Base de Datos
DB_NAME=sistema_juridico
DB_USER=villalobos_admin
DB_PASSWORD=password123
DB_PORT_EXT=5433

# Configuración de Seguridad
# Genera una clave larga de 64 caracteres para producción
JWT_SECRET=FraseSuperSecretaEnLocalParaDesarrollo2026_CambiarEnProduccion

# Configuración pgAdmin
PGADMIN_EMAIL=ricardo@juridico.com
PGADMIN_PASS=admin
