<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      lang="es">

<head th:replace="~{fragments/global/head :: head}"></head>

<body class="bg-[#F5F5F5] font-sans text-gob-gris antialiased">

    <aside th:replace="~{fragments/global/sidebar :: sidebar}"></aside>

    <div class="p-4 sm:ml-64 min-h-screen flex flex-col relative">
        
        <nav th:replace="~{fragments/global/navbar :: navbar}"></nav>

        <main class="flex-1 mt-4">
            <div layout:fragment="content"></div>
        </main>

        <footer th:replace="~{fragments/global/footer :: footer}" class="mt-10"></footer>

    </div>
    
    <div th:replace="~{fragments/global/scripts :: scripts}"></div>

</body>
</html>